<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull">
<!-- wp:pattern {"slug":"rumman/hero"} /-->
<!-- wp:pattern {"slug":"rumman/cook-this-week"} /-->
<!-- wp:pattern {"slug":"rumman/delis-band"} /-->
<!-- wp:pattern {"slug":"rumman/collections"} /-->
<!-- wp:pattern {"slug":"rumman/ingredients"} /-->
<!-- wp:pattern {"slug":"rumman/newsletter"} /-->
<!-- wp:pattern {"slug":"rumman/pantry"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
